body{
    background: rgb(250, 248, 248);
}

header{
    background: #cac1c148;
    border-bottom: 1px solid #CCC;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 5%;
    margin: -10px;
    height: 60px;
    }

header a{
    padding: 50px;
    text-decoration: none;
    color: black;    
}
.aheader-D-P{
    padding: 20px;
    margin-left: -550px;
    font-size: x-large;
}
.aheader-H-S{
    padding-left: 550px;
    margin: -30px;
    margin-bottom: -15px;
    font-size: x-large;
}
.aheader-S{
    padding-bottom: 10px;
    margin: -28px;
    margin-left: 1080px;
     font-size: x-large;
    /*border:1px solid green;
    border-radius:5px;
    width: 14.5pc;
	display:inline-block; */
}
.asearch{
    margin-right: 0px;
    margin-left: -1090px;
    margin-bottom: -50px;
    padding-bottom: 1px;
    font-size: x-large;

}
.ahome{
    margin-right: -210px;
    margin-left: -15%;
    margin-bottom: 0px;
    margin-top: -68px;
    padding-bottom: 0px;
    padding-top: -0px;
    font-size: x-large;

}
 
.search-img{
    width: 20px;
    height: 15px;
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    padding-left: 0px;
    padding-top: 20px;
    padding-right: -50px;
}

.home-img{
    width: 20px;
    height: 25px;
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    padding-left: 0px;
    padding-top: 20px;
    padding-right: -50px;
    
}
header a:visited{
    color: green;
    border: 2px solid green;
    cursor: crosshair;
}
header a:hover, a:active{
    background-color: antiquewhite;
    color: rgb(9, 197, 119);
    padding-bottom: 10px;
    cursor: zoom-in ;
    text-decoration: underline;
}

/* .slide-left{
    border: 0px;
} */